#edit_page.col
  .row 
    .panel.panel-default.mx-auto
      .panel-heading
        %h1 Edit Pic 
      .panel-body
        .current_image 
          %strong Current Pic 
          =image_tag @pic.image.url(:medium)
        = render 'form'
